<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<p></p>
<p></p>
<button type="button" class="btn btn-dark"><%= link_to "Edit article", edit_article_path %></button>
<p></p>
<p></p>

<%= link_to "Back to list", articles_path %>
